@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

:root{
	--main-color:#022988;
	--primary-color: #ef5068;
	--black:#13131a;
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}